.main {
    width: 1080px;
    display: flex;
justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // &__header {
    //     display: flex;
    //     flex-direction: column;
    // }
}

