.alert {
  max-width: 1080px;
  margin: 0 auto; // This centers the element horizontally
  padding: 20px; // Add padding as needed

  &__content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3); // Горизонтальний зсув, вертикальний зсув, розмір тіні, колір тіні
    padding: 20px;

  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__message {
    font-size: 24px;
  }

  &__info {
    font-size: 16px;
    margin-top: 24px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__button1 {
  text-decoration: none; 
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  background-color: rgb(57, 73, 250);
  padding: 12px 20px;
  margin: 5px;
  color: white;
  &:active {
    transform: translateY(2px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }
  }

  &__button2 {
    text-decoration: none; 
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px;
    color: rgb(57, 73, 250);
    border: 1px solid rgb(198, 198, 198);
    &:active {
      transform: translateY(2px); 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    }
    }
}